<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="Esta es mi pagina de Administracion de Stardust Coincidence">
    <title>Stardust Admin</title>

    <!--FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <!--  FONT AWESOME  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--  CUSTOM CSS  -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/stylessHistoria.css">
    <link rel="stylesheet" href="/stylesheets/admin/admin.css">

    <!--  ANIMATE CSS LIBRARY  -->
    <link rel="stylesheet" href="/stylesheets/animate.css">

    <script src="https://kit.fontawesome.com/175d06bc2c.js" crossorigin="anonymous"></script>
</head>

<body>   

  {{> navBarOut}}
    
  {{{body}}}
  
  <script src="/javascripts/txtareaResize.js"></script>
    
</body>
</html>
