<!--  FOOTER  -->

<footer class="footer">
    <div class="footer__content">
    <h1>Gracias por Leer</h1>
    <p>Recuerda que las estrellas fugaces pueden volver tu sueño, una realidad... No dejes pasar esta unica oportunidad.</p>
    </div>
    <img src="/images/footer.png" alt="Stardust Coincidence" class="footer__img">
</footer>