
<nav class="nav__main animate__animated animate__slideInDown animate__delay-1s">
    <img src="/images/Star Logo.png" alt="Stardust Coincidence Logo" class="nav__main__img animate__animated animate__backInDown animate__delay-2s">
    <ul class="nav__main__menu animate__animated animate__slideInLeft animate__delay-2s">
        <li><a href="/">Inicio</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>