<!--  CALLING PARTICLES  -->

<div id="particles-js"></div> 


<!-- NAVEGATION -->

{{> navBar}}

<div class="container">      

    <!--  SHOWCASE -->

    <header class="showcase" id="Inicio">
        <h1 class="tittle animate__animated animate__fadeInDown">STARDUST COINCIDENCE</h1>
        <p class="animate__animated animate__fadeInDown">Por que esos es lo que somos, y eso es lo que seremos.</p>
        <a href="#GALLERY" class="btn animate__animated animate__fadeInDown">Seguir leyendo <i class="fas fa-angle-double-right"></i></a>    
    </header>


    <!--  GALLERY  -->

    <div class="sub__tittle" id="GALLERY">
        <h2 id="Mi_Arte">~ Mi Galeria ~</h2>
    </div>
    <div class="sub__tittle">
        <h3>Ver mas en <a href="https://www.instagram.com/stardust_coincidence/">Instagram</a><i class="fab fa-instagram"></i></h3>
    </div>


    <div class="gallery">
        <div class="obras">
            <img src="images/SCIFI Sketch.jpg" alt="" class="imgs">
            <h3><a href="history/nearDeath">Near Death</a></h3>
            <p>Ilustracion inspirada en el estilo futurista SCIFI de Lainer Art, en esta obra, se busco realizar un...  </p>
            <a href="history/nearDeath">Leer Mas...</a>
        </div>
        <div class="obras">
            <img src="images/Khala And The Oldest Ruins.jpg" alt="" class="imgs">
            <h3><a href="history/oldest_ruins">Khala, and the Oldest Ruins</a></h3>
            <p>Un Dios olvidado y la ruina... Son cosas que van muy de la mano. Pues sin plegarias y un pueblo...</p>
            <a href="history/oldest_ruins">Leer Mas... <i class=""></i></a>
        </div>
        <div class="obras">
            <img src="images/La Bestia del Abismo.jpg" alt="" class="imgs">
            <h3><a href="history/el_abismo">El Abismo</a></h3>
            <p>Olvidada aun mas que el Traidor, descansa en lo profundo del abismo, tumba de lo que alguna vez existio...</p>
            <a href="history/el_abismo">Leer Mas... <i class=""></i></a>
        </div>
        <div class="obras">
            <img src="images/La Dama de los Cielos.jpg" alt="" class="imgs">
            <h3><a href="history/la_dama">The Blind Peregrine</a></h3>
            <p>Todos somos peregrinos en la vida, algunos cargan pecados mas profanos que los demas, y otros...</p>
            <a href="history/la_dama">Leer Mas... <i class=""></i></a>
        </div>
        <div class="obras">
            <img src="images/Ludien Ruined Kingdom.jpg" alt="" class="imgs">
            <h3><a href="history/ruined_kingdom">Ruined Kingdom</a></h3>
            <p>Un Rey inquisidor, noble y puro de corazon observa con temor y pena las ruinas del reino que conquisto, ya sea...</p>
            <a href="history/ruined_kingdom">Leer Mas... <i class=""></i></a>
        </div>
        <div class="obras">
            <img src="images/Sketch Mountain Lantern.jpg" alt="" class="imgs">
            <h3><a href="history/mountain_lantern">Mountain Lantern</a></h3>
            <p>Otra actividad para practicar, esta vez, fue un ejercicio de velocidad, obra realizada en solo...</p>
            <a href="history/mountain_lantern">Leer Mas... <i class=""></i></a>
        </div>
        <div class="obras">
            <img src="images/Jina Future.jpg  " alt="" class="imgs">
            <h3><a href="history/scifi_fanart">SCIFI Fanart</a></h3>
            <p>Diseño de personaje de mi OC principal, Jina, esta vez luciendo un estilo de coloreo sin lineas, un...</p>
            <a href="history/scifi_fanart">Leer Mas... <i class=""></i></a>
        </div>
        <div class="obras">
            <img src="images/The Last Guardian.jpeg" alt="" class="imgs">
            <h3><a href="history/the_last_guardian">The Last Guardian</a></h3>
            <p>¿Un salvador o un destructor? Ya nada mas queda... A si que, como leyes sin pueblo que las aclame, esa dualidad...</p>
            <a href="history/the_last_guardian">Leer Mas... <i class=""></i></a>
        </div>
    </div>

    <!--  TOOLS  -->

    <div class="tools" id="Tools">
        <div class="tools__box tools__backg1">
            <div class="tools__content">
                <div>
                    <h2>¡XP-Pen Artist 12 PRO!</h2>
                    <p>¡Dale forma a tus ideas con la mejor tableta en relacion calidad/precio del mercado!</p>
                    <p>Hazte con una, envios GRATIS a todo el pais haciendo click <a href="https://www.mercadolibre.com.mx/tableta-digitalizadora-xp-pen-artist-12-black/p/MLM15219716#searchVariation=MLM15219716&position=1&search_layout=grid&type=product&tracking_id=6a60c864-bd15-42d0-a0bc-822bfeb3c620" target="_blank" noopener>aqui.</a></p>
                </div>
                <div class="tool__snd">
                    <img src="images/Tools.png" alt="" class="imgs">
                </div>
            </div>
        </div>
        <div class="tools__box tools__backg2">
            <div class="tools__content">
                <div>
                    <img src="images/tools2.png" alt="" class="imgs">
                </div>
                <div class="tool__snd">
                    <h2>¡Notebook Intel Core 5!</h2>
                    <p>¡Que nada pare el motor de tus ideas! Hazte con una Notebook armada a tu gusto, adaptable a todas las economias y nececidades!</p>
                    <p>Hazte con una, envios GRATIS a todo el pais haciendo click <a href="https://articulo.mercadolibre.com.ar/MLA-924689120-gateway-ultra-i5-256ssd-16gb-fingerprint-win-10-full-hd-14-_JM?searchVariation=87449153858#searchVariation=87449153858&position=21&search_layout=stack&type=item&tracking_id=f374d032-72dc-4fcd-a2c9-f86b0e86b932" target="_blank" noopener>aqui.</a></p>
                </div>
            </div>
        </div>
    </div>

    <!--  PROYECT IAI  -->

    <div class="proyect_iai" id="Proyecto">
        <div class="proyect__img__container">
            <img src="images/proyect_IAI.jpeg" alt="Proyecto IAI" class="proyect__img">
        </div>
        <div class="proyect__img__container">
            <img src="images/proyect_IAI_2.jpeg" alt="Proyecto IAI" class="proyect__img">
        </div>
        <div class="proyect__content">
            <h2>¿Arte Creado por una <b>Inteligencia Artificial?</b></h2>
            <h3>Este, es el <b>Proyecto IAI...</b></h3>
            <p>Gracias a la liberacion del codigo de uno de los ultimos proyectos relacionados a la Inteligencia Artificial y Deep Learning, ahora nosotros podemos utilizar <b>"VQGAN + CLIP"</b>, tecnologia basada en los modelos de Transformers y Encoders, para decirla a una avanzada IA como crear una Imagen Generativa en base a un texto que le damos como Input.</p>
            <p><b>IAI</b>, es el nombre que decidi darle a la cuenta de Instagram con la que busco dar a conocer esta tecnologia y motivar a la curiosidad de los usuarios para acercarlos a este campo de estudio...</p>
            <p>Puedes visitar a IAI en su <b><a href="#">Instagram</a></b> <i class="fab fa-instagram"></i></p>
        </div>
    </div>
</div>

{{> footer}}

